@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

$font-stack: Roboto, Helvetica, sans-serif;

//Light palette
$light-background: #F6EED7;
$light-text-primary: #48484A;
$light-primary: #FF9090;
$light-secondary: #85C4FF;
$light-third: #E09DFF;
$light-fourth: #FFB800;
$light-fifth: #569999;
$light-sixth: #73CC73;

//Dark palette
$dark-background: #1C1C1E;
$dark-text-primary: #FFFFFF;
$dark-primary: #FF2D55;
$dark-secondary: #FFFF55;
$dark-third: #E09DFF;
$dark-fourth: #FF792D;
$dark-fifth: #71FF2D;
$dark-sixth: #CEFF2D;

// Disables text selection
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

// PARALLAX

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    perspective-origin-x: 100%;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transform-origin-x: 100%;
}

.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

// PARALLAX LAYERS

// Parallax header
.parallax__layer--one {
    transform: translateZ(0) scale(1);

    display: flex;
    justify-content: center;
    align-items: center;

    // padding: 100vh 0;
    height: 100vh;
}

// Parallax folio
.parallax__layer--two {
    transform: translateZ(-2px) scale(3);
    padding: 110vh 0;
}


.parallax__layer--three {
    transform: translateZ(-1px) scale(2);
    padding: 170vh 0;
}

.parallax__layer--four {
    transform: translateZ(-.3px) scale(1.2);
    padding: 200vh 0;
}

.parallax__layer--five {
    transform: translateZ(-.1px) scale(1);
    padding: 240vh 0;
}

.parallax__layer--six {
    transform: translateZ(-1px) scale(2);
    padding: 180vh 0;
}

/* centre the content in the parallax layers */
.title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-align: center;
}

// Themes

.theme--light {
    font-family: $font-stack;
    background-color: $light-background;

    .mode {
        position: sticky;
        top: 1%;
        left: 1%;
        color: $light-fourth;
        font-size: 2rem;
        z-index: 200;

        &:hover {
            filter: invert(1);
        }
    }

    // For parallax one
    .bg {
        background-color: $light-primary;
    }

    .header {
        font-size: 10vw;
        @media (orientation: portrait) {
            font-size: 15vw;
        }
        color: $light-background;
        text-align: right;
    }

    // For parallax two
    .folio {
        &__header {
            font-size: 10vw;
            @media (orientation: portrait) {
                font-size: 15vw;
            }
            color: $light-primary;

            margin: 0 33vw 0 0;
        }

        &__sub-header {
            font-size: 10vw;
            @media (orientation: portrait) {
                font-size: 15vw;
            }
            color: $light-secondary;

            margin: 0 0 0 45vw;
        }
    }

    // For parallax three
    .tile {
        position: relative;

        width: 30vw;
        height: 30vw;
        @media (orientation: portrait) {
            width: 35vw;
            height: 35vw;
        }
        
        border: 1px solid $light-text-primary;
        box-shadow: 2px 2px 0 $light-text-primary;

        transition: 1s all;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }   
        &:hover {
            box-shadow: 4px 4px 0 $light-text-primary;
        }
    }
}


.theme--dark {
    font-family: $font-stack;
    background-color: $dark-background;

    .mode {
        position: sticky;
        top: 1%;
        left: 1%;
        color: $dark-fourth;
        font-size: 2rem;
        z-index: 200;

        &:hover {
            filter: invert(1);
        }
    }

    // For parallax one
    .bg {
        background-color: $dark-primary;
    }

    .header {
        font-size: 10vw;
        @media (orientation: portrait) {
            font-size: 15vw;
        }
        color: $dark-secondary;
        text-align: right;
    }

    // For parallax two
    .folio {
        &__header {
            font-size: 10vw;
            @media (orientation: portrait) {
                font-size: 15vw;
            }
            color: $dark-primary;

            margin: 0 33vw 0 0;
        }

        &__sub-header {
            font-size: 10vw;
            @media (orientation: portrait) {
                font-size: 15vw;
            }
            color: $dark-secondary;

            margin: 0 0 0 45vw;
        }
    }

    // For parallax three
    .tile {
        position: relative;

        width: 30vw;
        height: 30vw;
        @media (orientation: portrait) {
            width: 35vw;
            height: 35vw;
        }
        
        border: 1px solid $dark-text-primary;
        box-shadow: 2px 2px 0 $dark-text-primary;

        transition: 1s all;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }   
        &:hover {
            box-shadow: 4px 4px 0 $dark-text-primary;
        }
    }
}

.base-page {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1000;

    background-color: $light-background;
}