@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

$font-stack: Roboto, Helvetica, sans-serif;

//Light palette
$light-background: #F6EED7;
$light-text-primary: #48484A;
$light-primary: #FF9090;
$light-secondary: #85C4FF;
$light-third: #E09DFF;
$light-fourth: #FFB800;
$light-fifth: #569999;
$light-sixth: #73CC73;

//Dark palette
$dark-background: #1C1C1E;
$dark-text-primary: #FFFFFF;
$dark-primary: #FF2D55;
$dark-secondary: #FFFF55;
$dark-third: #E09DFF;
$dark-fourth: #FF792D;
$dark-fifth: #71FF2D;
$dark-sixth: #CEFF2D;

// Disables text selection
@mixin noSelect() {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

// THEMES
@mixin side-button($top, $left, $right, $bottom, $deg, $colour) {
    position:fixed;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    transform: rotate($deg);
    color: $colour;
    font-size: 2rem;
    z-index: 150;
    @include noSelect();

    &:hover {
        filter: invert(1);
    }
}

@mixin folio-menu($colour, $colour2, $colour3, $bg) {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: .2s .1s;
    background-color: $bg;

    @media (orientation: portrait) {
        flex-direction: column;
        width: 50vw;
    }

    &-item-one {
        color: $colour;
        margin: 0 1ch 0 0;

        @media (orientation: landscape) {
            margin: 0 1ch 0 1ch;
        }
        &:hover {
            filter: invert(1);
        }
    }

    &-item-two {
        color: $colour2;
        margin: 0 1ch 0 0;
        &:hover {
            filter: invert(1);
        }
    }

    &-item-three {
        color: $colour3;
        margin: 0 1ch 0 0;
        &:hover {
            filter: invert(1);
        }
    }
}

@mixin header($colour, $bg) {
    width: 100%;
    position: relative;
    display: inline-block;

    margin: 0rem 0 0 6rem;

    font-size: 12rem;
    color: $colour;
    text-align: left;
    @include noSelect();

    @media (orientation: portrait) {
        font-size: 4rem;
        margin: 0 0 0 1.5rem;
    }

    .header-square {
        display: block;

        background: rgba(0,0,0,0);

        width: 100%;
        height: 100%;
    }

    .header-square::after {
        content: '';
        position: absolute;
        width: 91%;
        height: 80%;

        border: 1px solid $bg;
        box-shadow: 2px 2px $bg;

        top: 0vh;
        left: -2vw;
    }


}

@mixin subHeader($colour, $highlight) {
    position: relative;
    width: 90%;
    left: -5vw;

    margin: -2rem 0 0 0;

    color: $colour;
    font-weight: 200;
    text-align: right;
    font-size: 5vw;
    @include noSelect();

    @media (orientation: portrait) {
        font-size: 1.5rem;
        margin: 0 0 0 0rem;
    }

    .highlight {
        color: $highlight;
    }
}

@mixin alt-header($colour, $bg) {
    width: auto;
    position: relative;
    display: inline-block;

    margin-left: 10%;
    margin-bottom: 16%;

    font-size: 7rem;
    color: $colour;
    text-align: left;
    @include noSelect();

    align-self: flex-start;

    z-index: 10;

    @media (orientation: portrait) {
        font-size: 3.5rem;
        margin-bottom: 58vh;
        margin-left: 5.5vw;
    }

    .alt-header-square {
        display: block;

        background: rgba(0,0,0,0);

        // mix-blend-mode: color-dodge;

        width: auto;
        height: 100%;
    }

    .alt-header-square::after {
        content: '';
        position: absolute;
        width: 8ch;
        height: 85%;

        border: 1px solid $bg;
        box-shadow: 2px 2px $bg;

        // mix-blend-mode: color-dodge;

        top: 0vh;
        left: -2vw;
    }
}


@mixin display-col($colour, $border, $bg) {
    // Scroll and hide scroll bar
    
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    display: flex;
    align-items: center;

    @media (orientation: landscape) {
        overflow-y: scroll;

        width: 40vw;
        height: 100%;

        position: absolute;
        right: 6vw;
        top: 0;

        flex-direction: row;
        flex-wrap: wrap;
    }

    @media (orientation: portrait) {
        overflow-y: hidden;
        overflow-x: scroll;

        width: 100%;
        height: 46vh;

        padding: 0 0 10vh 0;

        position: absolute;
        left: 0;
        bottom: 0;

        flex-direction: column;
        flex-wrap: wrap;
    }

    .tile {
        @media (orientation: landscape) {
            width: 40vw;
            height: 40vw;

            margin: 2vh 0 2vh 0;
            padding: 2vh 2px 4vh 2px;
        }

        @media (orientation: portrait) {
            width: 40vh;
            height: 40vh;

            padding:  2px 3vw 2px 3vw;
        }

        .tile-header {
            @include noSelect();
            color: $colour;
            background-color: $bg;

            @media (orientation: landscape) {
                width: 100%;
                position: relative;
                top: -5%;
                left: 3%;
                filter: opacity(90%);
                
                font-size: 3rem;
                text-align: right;
                transition: .2s;
            }

            @media (orientation: portrait) {
                height: 100%;
                position: relative;
                top: -7%;
                left: 3%;
                
                font-size: 2rem;
                text-align: right;
                transition: .2s;
            }

            &:hover {
                // filter: invert(1);
                transition: .2s;
                background-color: $bg;
                filter: opacity(100%);
            }
        }

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: 80% 80%;

            border: 1px solid $border;
            box-shadow: 2px 2px $border;
        }

        transition: 1s;
    }

    .tile:hover {
        transition: 1s;
    }
}

.theme--light {
    background-color: $light-background;
    color: $light-text-primary;
    font-family: $font-stack;
    transition: .5s;

    .folio {
        @include side-button(1vh, 2vw, null, null, 0deg, $light-third);
        display: flex;
        @media (orientation: portrait) {
            flex-direction: column;
        }
        &:hover .folio-menu {
            visibility: visible;
            opacity: 1;
        }
    }

    // .folio-menu {
    //     @include folio-menu($light-primary, $light-secondary, $light-sixth, $light-background);
    // }

    .info {
        @include side-button(3vh, null, 1vw, null, 90deg, $light-fourth)
    }

    .mode {
        @include side-button(null, null, 2vw, 1vh, 180deg, $light-fifth)
    }

    .social {
        @include side-button(null, 0vw, null, 5vh, 270deg, $light-sixth)
    }

    .header {
        @include header($light-primary, $light-text-primary)
    }

    .sub-header {
        @include subHeader($light-text-primary, $light-secondary)
    }

    .alt-header {
        @include alt-header($light-primary, $light-text-primary);
    }

    .display-col {
        @include display-col($light-primary, $light-text-primary, $light-background);
    }

    .page-one { background-color: $light-background; }
    .page-two { background-color: $light-background; }
    .page-three { background-color: $light-background; }
}

.theme--dark {
    background-color: $dark-background;
    color: $dark-text-primary;
    font-family: $font-stack;
    transition: .5s;

    .folio {
        @include side-button(1vh, 2vw, null, null, 0deg, $dark-third);
        display: flex;
        @media (orientation: portrait) {
            flex-direction: column;
        }
        &:hover .folio-menu {
            visibility: visible;
            opacity: 1;
        }
    }

    // .folio-menu {
    //     @include folio-menu($dark-primary, $dark-secondary, $dark-fifth, $dark-background);
    // }

    .info {
        @include side-button(3vh, null, 1vw, null, 90deg, $dark-fourth)
    }

    .mode {
        @include side-button(null, null, 2vw, 1vh, 180deg, $dark-fifth)
    }

    .social {
        @include side-button(null, 0vw, null, 5vh, 270deg, $dark-sixth)
    }

    .header {
        @include header($dark-primary, $dark-text-primary);
    }

    .sub-header {
        @include subHeader($dark-text-primary, $dark-secondary)
    }

    .alt-header {
        @include alt-header($dark-primary, $dark-text-primary);
    }

    .display-col {
        @include display-col($dark-primary, $dark-text-primary, $dark-background);
    }

    .page-one { background-color: $dark-background; }
    .page-two { background-color: $dark-background; }
    .page-three { background-color: $dark-background; }
}

// Body CSS

body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

.root {
    // Contains entire page
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    perspective: 100vw;
}

.hidden {
    visibility: hidden;
}

// Pages
@mixin page() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    backface-visibility: hidden;
}

.hidden {
    visibility: hidden;
}

.page-one {
    width: 100%;
    height: 100%;

    @include page();

    // padding: 2rem 0 2rem 5rem;
}

.page-two {
    width: 100%;
    height: 100%; 

    @include page();
}

.page-three {
    width: 100%;
    height: 100%;

    @include page();

    background-color: #3535af;
}